<div class="container-box">
  <a routerLink="/show"  class="btn-section" >
    Show
  </a>
  
  <form action="" class="form-section" [formGroup]="form" (ngSubmit)="submit()">
    <label for="user_name " class="label-section">First Name</label>
    <input
      type="text"
      class="input-section"
      formControlName="user_name"
      placeholder="Enter First Name"
    />

    <label for="user_name " class="label-section">Password</label>
    <input
      type="text"
      class="input-section"
      formControlName="password"
      placeholder="Enter Last Name"
    />

    <div class="aleart-section" *ngIf="alert">
      <p>ERROR: Please fill all felids of form</p>
    </div>

    <button class="btn-section">Submit</button>
  </form>




  <h3>
    Entered Name :
    {{ form.value.user_name + " " + form.value.password }}
  </h3>
  <h3 *ngIf="user_name && password">
    Entered Name After Submit :
    {{ user_name + " " + password }}
  </h3>
</div>
